
@font-face {
  font-family: 'SignikaBold';
  src: url('../fonts/Signika/Signika-Bold.otf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SignikaRegular';
  src: url('../fonts/Signika/Signika-Regular.otf');

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  font-family: 'Barlow', sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  outline: none;
  text-decoration: none;
  font-size: 11px;
  color: #2d2a2b;
  display: block;
}

img {
  border: none;
}

html {
  height: 100%;
}

div, a, p, h2 {
  box-sizing: border-box;
}

.template-head {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;

  .container {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 125px;
      height: 20px;
    }

    .navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 9px 0 20px;
      ul {
        display: flex;
        list-style: none;
        margin-bottom: 30px;
        li {
          margin-right: 25px;
          a {
            text-decoration: none;
            display: inline-block;
            color: #538c8a;
            font-size: 14px;
            font-family: 'SignikaBold';
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }

      p {
        color: #538c8a;
        font-size: 16px;
        font-family: 'SignikaBold';
      }
    }
  }
}

.template-top {
  @extend .template-head;
  background-color: #e69a68;

  .join-cont {
    @extend .container;
    background-color: #e69a68;
    justify-content: start;

    .slogan-bar {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 550px;

      p {
        font-size: 33px;
        font-family: 'SignikaRegular';
        color: #fff;
      }
    }

    .join-button {
      display: block;
      margin-left: 47px;
      margin-top: 26px;
      margin-bottom: 26px;
      width: 143px;
      height: 125px;
      padding: 10px 0;
      background-color: #d66114;
      color: #fff;
      font-size: 45px;
      border-radius: 5px;
      text-align: center;
      font-family: 'SignikaRegular';
    }
  }
}

.template-middle {
  @extend .template-head;
  background-color: #d68854;

  .devices-cont {
    @extend .container;
    background-color: #d68854;
    padding-bottom: 25px;
    flex-direction: column;
    align-items: center;

    .devices {
      width: 510px;
    }

    .text {
      text-align: center;
      color: #fff;
      font-family: 'SignikaBold';
      font-size: 20px;
    }
  }
}

.template-bottom {
  @extend .template-head;
  background-color: #fff;

  .inform-cont {
    @extend .container;
    background-color: #fff;
    padding-top: 23px;
    flex-direction: column;
    align-items: start;

    h2 {
      font-size: 30px;
      font-family: 'SignikaBold';
      color: #236462;
      margin-bottom: 40px;
    }
    hr {
      display: inline-block;
      width: 225px;
      height: 4px;
      border: none;
      background-color: #236462;
      margin-bottom: 27px;
    }
    .widget {
      @extend .container;
      background-color: #fff;
      flex-direction: row;
      justify-content: start;
    }

    .left-col {
      width: 478px;
    }

    .right-col {
      width: 478px;
    }
  }
}

footer {
  @extend .template-head;
  background-color: #549492;

  .rights {
    @extend .container;
    background-color: #549492;
    padding-top: 47px;
    padding-bottom: 41px;
    align-items: start;

    .copyright {
      color: #fff;
      font-size: 12px;
      font-family: 'SignikaBold';
      margin-right: 100px;
    }

    .service {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      list-style: none;
      li {
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid #fff;
        color: #fff;
        font-size: 15px;
        font-family: 'SignikaBold';
      }
      li:last-child {
        border-right: none;
      }
    }
  }
}